<section class="create-gallery">
  <form name="createGalleryForm"
    class="gallery-form"
    ng-submit="createGalleryCtrl.createGallery()">
    <span class="prompt">Create a new gallery</span>
    <fieldset>

      <input name="name" class="input-std" type="text" placeholder="name"
        ng-model="createGalleryCtrl.gallery.name" required>
    </fieldset>

    <fieldset>

      <input name="desc" class="input-std" type="text" placeholder="description"
        ng-model="createGalleryCtrl.gallery.desc" required>
    </fieldset>

    <button class="btn-std" type="submit">create gallery</button>
  </form>
</section>
