@import "../../../scss/lib/theme/vars";

.current-item {
  width: 88%;
  background: $brand-primary * 2;
  margin: 2vw 2vw 2vw 3.1vw;

  border-radius: $btn-radius;
  padding: 1vw;
  font-size: 2vw;

  .item-label {
    margin: 1.5vw;

    .bold {
      font-weight: bold;
    }
  }

  .gallery-item {
    margin-bottom: 4vw;
  }
} 

.sm-btns {
  margin-right: 2.3vw;

  .btn-gallery {
    margin-right: 2vw;
  }
}
