@import "../../scss/lib/theme/vars";

nav {
  display: inline-block;
  float: right;
  vertical-align: top;
  margin: 3vw 3vw;

  .btn-sm {
    background: $brand-secondary;
    display: inline-block;
    border-radius: $btn-radius;
    border: none;
    height: 3vw;
    width: 12vw;
    font-size: 1.6vw;
  }
}
